*{
	margin: 0; padding: 0;
}

hr{
	opacity: 0.1%;
}

body{

}

section{

}

#topo{
	width: 100%;
	height: 45px;
	background-color: #000000;
	position: fixed;
}

ul{
	display: flex;
	justify-content: flex-end;

}

li{
	list-style-type: none;
	color: #FFFFFF;
	margin: 15px;
}

a{
	text-decoration: none;
	color: #001a69;
	font-size: 1.3rem;
}

.a{
	color: #FFFFFF;
	font-size: 1.2rem;
}

header{
	width: 100%;
	height: 180px;
	background-color: #7c7c7c;
	padding-top: 45px;
}

img{
	width: 100%;
	height: 290px;
	position: absolute;
}

.logo{
	width: 270px;
	height: 270px;
	padding-left: 90px;
}

nav{
	width: 20%;
	height: 2430px;
	background-color: #F3F3F3;
	float: left;

}

main{
	width: 60%;
	height: 2250px;
	background-color: #FFF;
	float: left;
	padding-top: 180px;
}

h1{

}

h2{

}

h3{
	color: #000000;
	font-size: 2em;
	text-align: left;
	padding-left: 35px;
	padding-top: 40px;
	padding-bottom: 20px;
}

section h2{
	color: #000000;
	font-size: 2.4em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

main p{
	color: #000633;
	font-size: 1.4em;
	text-align: justify;
}

p{
	padding-left: 35px;
	padding-right: 35px;
}

#Basicos ul, li, #Intermediarios ul, li, #ComputadoresGamer ul, li{
	font-size: 1.2em;
	display: grid;
	justify-content: flex-start;
	margin: 8px;
	padding-left: 35px;
}

#produtos{
	display: flex;
}


.container{
	width: 200px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-right: 30px;
}

.card-img{
	height: 186px;
	width: 186px;
	border-radius: 15px;
}

.card{
	background-color: #FFF;
	margin: 20px;
	width: 190px;
	height: 190px;
	border-radius: 15px;
	box-shadow: 0 10px 10px 2px #CCC;
}

.card:hover{
	box-shadow: 0 10px 18px #CCC;
}


aside{
	width: 20%;
	height: 2430px;
	background-color: #F3F3F3;
	float: left;
}

footer{
	width: 100%;
	height: 60px;
	background-color: #212121;
	clear: both;
}

footer p{
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
}